<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Nuevo Porcentaje</title>
  
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
  <header th:insert="fragments/menu :: menu-principal" 
  	class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>
  
  <div class="jumbotron">
    <div class="container">
      <h3>Nuevo Porcentaje</h3>
      <p>Formulario para definir un nuevo porcentaje entre los socios de <strong>Corporativo Fiscal Magno</strong></p>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <!--Settings-->
      <div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${settings}">
          <strong th:text="${settings}"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${socios.empty}">
          ¡Ups! ha ocurrido un error para obtener el nombre de los socios, vuelva a intentarlo más tarde.
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg_success}">
          <strong th:text="${msg_success}"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="row g-5">
        <!--Div formulario-->
        <div class="col-md-5 p-4">       
          <form style="background-color: #eceff1;" class="border rounded py-3 px-2" th:object="${porcentaje}" th:action="@{/socios/porcentaje/agregar/detalle}" th:metod="get">
            <h6>Socios</h6>
            <div class="input-group">
              <select th:field="*{rfcSocio}" class="form-select" id="selectSocios" required>
                <option disabled selected value="null">Seleccionar régimen fiscal</option>
                <option th:each="socioTemp : ${socios_activos}" th:value="${socioTemp.rfc}">
                  [[${socioTemp.apPaternoSocio}+' '+${socioTemp.apMaternoSocio}+' '+${socioTemp.nombreSocio}]]
                </option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="input-group mt-3">
                  <input class="form-control form-control-sm" th:field="*{cantidadPorcentaje}" type="text" id="porcentaje"
                    placeholder="Porcentaje" autocomplete="off" required>
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
            </div>
          </form>
        </div>
        <!--Div detalle-->
        <div class="col-md-7">
          <table id="tblDetallePorcentajes" class="table table-hover col-sm-12">
            <caption>Detalles del porcentaje</caption>
            <thead>
              <tr>
                <th scope="col" id="tableColSocio">Socio RFC</th>
                <th scope="col" id="tableColPorcentaje">Porcentaje</th>
                <th scope="col" id="tableColOpciones">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="porcentajeTemp : ${listaDetallesPorcentajes}">
                <td th:text="${porcentajeTemp.rfcSocio}"></td>
                <td class="text-center" th:text="${porcentajeTemp.cantidadPorcentaje}"></td>
                <td class="text-center">
                  <a class="btn btn-warning btn-sm" role="button"
                    th:href="@{/socios/porcentaje/remover/detalle/{rfc} (rfc=${porcentajeTemp.rfcSocio})}">
                    Quitar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <div class="p-2 bd-highlight">
              <a class="btn btn-success btn-sm" role="button" th:href="@{/socios/porcentaje/guardar}">
                Finalizar
              </a>
            </div>
            <div class="p-2 bd-highlight">
              <a class="btn btn-outline-danger btn-sm" role="button" th:href="@{/socios/porcentaje/cancelar}">
                Cancelar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer th:insert="fragments/footer :: template-footer" 
    class="bg-dark text-center mt-auto footer">
  </footer>

  <script th:src="@{/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>

</html>