<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Socios</title>
  
  <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <!--CDN BOOTSTRAP ICONS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
  <header th:insert="fragments/menu :: menu-principal" 
  	class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>
  
  <div class="jumbotron">
    <div class="container">
      <h3>Lista de Socios</h3>
      <p>En esta sección se listan los detalles de los socios de <strong>Corporativo Fiscal Magno</strong></p>
    </div>
  </div>
  <div class="container">
    <!-- DIV PARA MOSTRAR MENSAJES -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${socios.empty}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>
    	¡Ups! ha ocurrido un error para obtener el nombre de los socios, vuelva a intentarlo más tarde.
    </div>
    <div class="card">
      <div class="card-body">
        <table id="tblCliente" class="table table-hover col-sm-12">
          <caption>Lista de socios</caption>
          <thead>
            <tr>
              <th scope="col">RFC</th>
              <th scope="col">Nombre Socio</th>
              <th scope="col">Correo</th>
              <th scope="col">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="socioTemp : ${socios}">
              <td th:text="${socioTemp.rfc}"></td>
              <td>
                <span>[[${socioTemp.apPaternoSocio}+' '+${socioTemp.apMaternoSocio}+' '+${socioTemp.nombreSocio}]]</span>
              </td>
              <td th:text="${socioTemp.correo}"></td>
              <td>
                <span th:if="${#strings.equals(socioTemp.status,'A')}" class="badge bg-info">Activo</span>
                <span th:unless="${#strings.equals(socioTemp.status,'A')}" class="badge bg-warning">Inactivo</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- container -->
  <footer th:insert="fragments/footer :: template-footer" 
    class="bg-dark text-center mt-auto footer">
  </footer>
  
  <script th:src="@{/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>