<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>SACC | Detalle Cliente</title>
	
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  	<link rel="stylesheet" th:href="@{/css/custom.css}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
	<header th:insert="fragments/menu :: menu-principal" 
		class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<h4 class="card-header">
						Acerca del cliente<strong></strong>
					</h4>
					<div class="card-body">
						<h6 class="card-title">
							<strong>Nombre: </strong><span th:text="${cliente.razonSocial}"></span>
						</h6>
						<h6 class="card-title">
							<strong>RFC: </strong><span th:text="${cliente.rfc}"></span>
						</h6>
						<h6 class="card-title">
							<strong>Régimen Fiscal: </strong><span th:text="${cliente.regimenFiscal.nombre}"></span>
						</h6>
						<h6 class="card-title">
							<strong>Status: </strong><span th:text="${cliente.status}"></span>
						</h6>
						<hr>
						<span>Contacto</span>
						<h6 class="card-title">
							<strong>Telefono: </strong><span th:text="${cliente.telefono1}"></span>
						</h6>
						<h6 class="card-title">
							<strong>Fecha Registro: </strong><span th:text="${cliente.fechaIngreso}"></span>
						</h6>
						<h6 class="card-title">
							<strong>Ultima Modificacion: </strong><span th:text="${cliente.lastUpdate}"></span>
						</h6>
						<a class="btn btn-primary" th:href="@{/clientes/activos/}" role="button">
							<i class="fas fa-file" aria-hidden="true"></i>Regresar
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:insert="fragments/footer :: template-footer" 
    	class="bg-dark text-center text-lg-start footer" 
    	style="margin-top: 60px;">
  	</footer>
	
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>