<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Clientes Activos</title>
  <!-- Bootstrap core CSS -->
  <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <!-- Custom styles for this template -->
  <link th:rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar.css}">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
  <header th:insert="fragments/menu :: menu-principal" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>
  <div class="jumbotron bg-light">
    <div class="container" style="padding-top: 3.5rem; padding-bottom: 3.5rem;">
      <h4>Buscar cliente</h4>
      <p>Puedes buscar un cliente por su <strong>RFC</strong> o por el <strong>régimen fiscal</strong> al que pertenece.</p>
      <form class="form-inline" th:object="${search}" th:action="@{/clientes/buscar}" th:metod="get">
        <div class="row">
          <div class="col-md-4 pb-2">
            <input type="text" class="form-control" th:field=*{rfc} maxlength="13" placeholder="Escriba el RFC">
          </div>
          <div class="col-md-5 pb-2">
            <select class="form-select" th:field="*{regimenFiscalId}" name="regimenFiscalId">
              <option selected th:value="null">Seleccionar régimen fiscal</option>
              <option th:each="regimenTemp : ${listaRegimen}" th:text="${regimenTemp.nombre}"
                th:value="${regimenTemp.id}"></option>
            </select>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h4 class="card-header"><strong>Listado de Clientes</strong></h4>
      <div class="card-body">
        <hr>
        <!-- DIV PARA MOSTRAR MENSAJES -->
        <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${settings}">
          <strong th:text="${settings}"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${msgBusqueda}">
          <strong th:text="${msgBusqueda}"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <table id="tblCliente" class="table table-hover col-sm-12">
          <caption>Lista de clientes activos</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">RFC</th>
              <th scope="col">Nombre Cliente</th>
              <th scope="col">Regimen Fiscal</th>
              <th scope="col">Estatus</th>
              <th scope="col" colspan="3">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="clienteTemp : ${clientes}">
              <td th:text="${clienteTemp.rfc}"></td>
              <td>
                <span th:if="${clienteTemp.regimenFiscal.id != 601}">[[${clienteTemp.apPaternoCliente}+'
                  '+${clienteTemp.apMaternoCliente}+' '+${clienteTemp.nombreCliente}]]</span>
                <span th:unless="${clienteTemp.regimenFiscal.id != 601}">[[${clienteTemp.razonSocial}]]</span>
              </td>
              <td th:text="${clienteTemp.regimenFiscal.nombre}"></td>
              <td>
                <span th:if="${clienteTemp.status='A'}" class="badge bg-info">Activo</span>
              </td>
              <td>
                <a class="btn btn-success btn-sm"
                  th:href="@{/clientes/edit/{rfc} (rfc=${clienteTemp.rfc})}">Modificar</a>
              </td>
              <td>
                <a class="btn btn-outline-primary btn-sm" th:href="@{/clientes/view/{rfc} (rfc=${clienteTemp.rfc}) }"
                  role="button">Ver</a>
              </td>
              <td>
                <a class="btn btn-warning btn-sm" th:href="@{/clientes/baja/{rfc} (rfc=${clienteTemp.rfc}) }"
                  onclick="return confirm('¿Estas seguro?')" role="button">Baja</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- container -->

  <footer class="footer">
    <div class="container">
      <p>
        &copy;Sistema de Administración y Control de Cobranza
        &middot; <a href="#">Terms</a>
      </p>
    </div>
  </footer>
  <script th:src="@{/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>
