<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>SACC | Listado de Clientes</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/jumbotron.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>
	<header th:insert="fragments/menu :: menu-principal" class="navbar navbar-expand-lg navbar-dark bg-primary"></header>
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Clientes</strong></h4>
          <div class="card-body">
            <hr>
            <table id="tblCliente" class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">RFC</th>
                  <th scope="col">Nombre Cliente</th>
                  <th scope="col">Regimen Fiscal</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="clienteTemp : ${clientes}">
                  <td th:text="${clienteTemp.rfc}"></td>
                  <td th:text="${clienteTemp.razonSocial}"></td>
                  <td th:text="${clienteTemp.idRegimenFiscal}"></td>
                  <td>
                    <span th:if="${clienteTemp.status='A'}" class="badge bg-success">Activo</span>
                    <span th:unless="${clienteTemp.status}" class="badge bg-danger">Inactivo</span>
                  </td>
                  <td>Botones</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <nav aria-label="Pagination">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="page : ${totalPages}">
                      <a class="page-link" th:href="@{|/?page=${page}|}" th:text="${page}"></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.1.2 | Autor: Iv&aacute;n E. Tinajero D&iacute;az | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
