<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Reactivar Cliente</title>
  <!-- Bootstrap core CSS -->
  <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <!-- Custom styles for this template -->
  <link th:rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
  <header th:insert="fragments/menu :: menu-principal" 
  	class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>
  
  <div class="jumbotron">
    <div class="container">
      <h3>Reactivar Cliente</h3>
      <p>En esta sección se listan los detalles de los clientes inactivos de
      <strong> Corporativo Fiscal Magno </strong>los cuales puede reactivar nuevamente</p>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h4 class="card-header"><strong>Clientes Inactivos</strong></h4>
      <div class="card-body">
        <hr>
        <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${settings}">
          <strong th:text="${settings}"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h6>Settings</h6>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <table id="tblCliente" class="table table-hover">
          <caption>Lista de clientes inactivos</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">RFC</th>
              <th scope="col">Nombre Cliente</th>
              <th scope="col">Regimen Fiscal</th>
              <th scope="col">Estatus</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="clienteTemp : ${clientes}">
              <td th:text="${clienteTemp.rfc}"></td>
              <td>
                <span th:if="${clienteTemp.razonSocial != null}" th:text="${clienteTemp.razonSocial}"></span>
                <span th:unless="${clienteTemp.razonSocial != null}"
                  th:text="${clienteTemp.apPaternoCliente} +' '+ ${clienteTemp.apMaternoCliente} +' '+ ${clienteTemp.nombreCliente}"></span>
              </td>
              <td th:text="${clienteTemp.regimenFiscal.nombre}"></td>
              <td>
                <span th:if="${clienteTemp.status='I'}" class="badge bg-danger">Inactivo</span>
                <span th:unless="${clienteTemp.status='A'}" class="badge bg-info">Activo</span>
              </td>
              <td>
                <a th:href="@{/clientes/reactivar/{rfc} (rfc=${clienteTemp.rfc}) }"
                  onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button"
                  title="Reactivar cliente">Reactivar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
  <!-- end container -->
  <footer th:insert="fragments/footer :: template-footer" 
    class="bg-dark text-center text-lg-start footer" 
    style="margin-top: 60px;">
  </footer>
  
  <script th:src="@{/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>