<div th:fragment="template-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-md-0">
                <div class="d-flex align-items-center justify-content-center mx-auto py-3"
                    style="width: 100px; height: 100px;">
                    <img th:src="@{/img/logo_cfm.png}" height="90" alt="logo_company" loading="lazy" />
                </div>
                <h6 class="text-center">Corporativo Fiscal Magno, S.C.</h6>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy;Sistema de Administración y Control de Cobranza
        &middot; SACC
    </div>
</div>