<div th:fragment="template-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-center mx-auto"
                    style="width: 75px; height: 75px;">
                    <img th:src="@{/img/logo_cfm.png}" height="70" alt="logo_company"/>
                </div>
                <h6 class="text-center">Corporativo Fiscal Magno, S.C.</h6>
            </div>
        </div>
    </div>

    <div class="text-center">
        &copy;Sistema de Administración y Control de Cobranza
        &middot; SACC
    </div>
</div>