<nav th:fragment="menu-principal" class="container-xxl flex-wrap flex-md-wrap">
    <a class="navbar-brand" href="/">
    	<img th:src="@{/img/cfm.svg}" width="60" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAlMarkup"
        aria-controls="navbarNavAlMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAlMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        	<!-- CLIENTES -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navClientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Clientes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navClientes">
                    <li><a class="dropdown-item" href="/clientes/nuevo/">Nuevo Cliente</a></li>
                    <li><a class="dropdown-item" href="/clientes/activos/">Consultar Clientes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/clientes/inactivos/">Reactivar Cliente</a></li>
                </ul>
            </li>
            <!-- SOCIOS -->
            <li class="nav-item dropdown">
 				<a class="nav-link dropdown-toggle" href="#" id="navSocios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
 					Socios
 				</a>
 				<ul class="dropdown-menu" aria-labelledby="navSocios">
 					<li><a class="dropdown-item" href="/socios/activos">Consultar Socios</a></li>
 					<li><hr class="dropdown-divider"></li>
 					<li><a class="dropdown-item" href="/socios/porcentajes/form">Nuevo Porcentaje</a></li>
                    <li><a class="dropdown-item" href="/socios/porcentajes/">Lista de Porcentajes</a></li>
 				</ul>
            </li>
            <!-- OPERACIONES -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navOperaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            		Operaciones
            	</a>
            	<ul class="dropdown-menu" aria-labelledby="navOperaciones">
            		<li><h5 class="dropdown-header">Pagos</h5></li>
            		<li><a class="dropdown-item" href="/operaciones/recibo-honorario">Generar recibo</a></li>
            		<li><a class="dropdown-item" href="/operaciones/registrar-pago-honorario">Registrar Pago</a></li>
            		<li><hr class="dropdown-divider"></li>
            		<li><h5 class="dropdown-header">Cobranza</h5></li>
            		<li><a class="dropdown-item" href="#">Cobranza</a></li>
            	</ul>
            </li>
            <!-- REPORTES -->
            <li class="nav-item dropdown">
            	<a class="nav-link dropdown-toggle" href="#" id="navReportes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            		Reportes
            	</a>
            	<ul class="dropdown-menu" aria-labelledby="navReportes">
            		<li><a class="dropdown-item" href="/operaciones/reporte/pagos/forma-pago">Forma de pago</a></li>
            		<li><a class="dropdown-item" href="/operaciones/reporte/pagos/tipo-honorario">Tipo de honorario</a></li>
            		<li><a class="dropdown-item" href="#">Clientes cumplidos</a></li>
            		<li><a class="dropdown-item" href="#">Clientes morosos</a></li>
            	</ul>
            </li>
        </ul>
	</div>
</nav>
