<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
    
    <title>Page not found | 404</title>
    
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/custom.css}" />

</head>
<body class="d-flex flex-column min-vh-100 page-error">
    <header th:insert="fragments/menu :: menu-principal" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"></header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center p-3">
                    <img th:src="@{/img/img_404.svg}" height="200" alt="Imagen error"/>
                    <h1>404</h1>
                    <h1>OOPS!</h1>
                    <h5>Lo sentimos, la pagina solicitada no se encuentra.</h5>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>