<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Registrar Pago</title>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <!--CDN DATEPICKER-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">
  <header th:insert="fragments/menu :: menu-principal" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>

  <div class="jumbotron">
    <div class="container">
      <h3>Registrar Pago</h3>
      <p>Formulario para generar el recibo correspondientes al pago de honorarios de <strong>Corporativo Fiscal Magno</strong></p>
    </div>
  </div>
  <div class="container">
    <!--Settings-->
    <!--<div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        ¡Ups! ha ocurrido un error para obtener el nombre de los clientes, vuelva a intentarlo más tarde.
      </div>
    </div>-->
    <main>
      <form class="needs-validation">
        <div class="row g-5">
          <!--first: div para el folio del recibo-->
          <div class="col-md-7 py-3 border rounded-3" style="background-color: #F8F8FF;">
            <h4>Datos Requeridos</h4>
            <!--consultar recibo-->
            <div class="row pb-3">
              <div class="row col-md-12">
                <label for="folioRecibo" class="col-form-label">Folio del Recibo <strong class="obligatorio">*</strong></label>
              </div>
              <div class="col-auto">
                <input type="text" id="folioRecibo" class="form-control" required>
              </div>
              <div class="col-auto">
                <input type="submit" class="btn btn-success" value="Validar" />
              </div>
              <div class="col-auto">
                <small class="form-text">Validar la informacion del recibo del honorario en la sección Acerca del recibo</small>
              </div>
            </div>
            <!--section informacion requerida-->
            <section>
              <div class="row">
                <div class="col-md-4">
                  <label for="date" class="form-label">Fecha del pago <strong class="obligatorio">*</strong></label>
                  <input id="date" type="text" class="form-control" name="fecha" placeholder="Año-Mes-Dia" autocomplete="off" required>
                </div>
                <div class="col-md-4">
                  <label for="listaFormaPago" class="form-label">Forma de pago <strong class="obligatorio">*</strong></label>
                  <select id="listaFormaPago" class="form-select">
                    <option value="0">Efectivo</option>
                    <option value="1">Transferencia</option>
                    <option value="2">Cheque</option>
                  </select>
                </div>
              </div>
              <!--div opciones formas de pago-->
              <div class="row py-2">
                <div class="col-md-4">
                  <label for="folioTransferencia" class="form-label">Folio Transferencia <strong class="obligatorio">*</strong></label>
                  <input id="folioTransferencia" type="text" class="form-control" autocomplete="off" required>
                </div>
                <div class="col-md-4">
                  <label for="folioCheque" class="form-label">Folio Cheque <strong class="obligatorio">*</strong></label>
                  <input id="folioCheque" type="text" class="form-control" autocomplete="off" required>
                </div>
                <div class="col-md-4">
                  <label for="listaFormaPago" class="form-label">Banco <strong class="obligatorio">*</strong></label>
                  <select id="listaFormaPago" class="form-select">
                    <option value="0">Santander</option>
                    <option value="1">Bancomer</option>
                    <option value="2">Banamex</option>
                  </select>                
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <label for="listaConcepto" class="form-label">Concepto del honorario <strong class="obligatorio">*</strong></label>
                  <select id="listaConcepto" class="form-select">
                    <option value="0">Servicios Contables</option>
                    <option value="1">Prestamo</option>
                  </select> 
                </div>
                <div class="col-md-4">
                  <label for="periodo" class="form-label">Periodo de pago</label>
                  <select id="periodo" class="form-select">
                    <option value="1">Enero - 2021</option>
                    <option value="2">Febrero - 2021</option>
                  </select>
                </div>
                <small class="form-text">El periodo corresponde al mes del cobro de los serivicios contables</small>
              </div>
              <hr>
              <input type="submit" class="btn btn-primary" value="Guardar" name="view"/>
            </section>
          </div>
          <!--second: div informacion del recibo-->
          <div class="col-md-5">            
            <div class="row py-3 px-2 border rounded-3 shadow">
              <h4 class="text-center pb-2 text-primary">Información acerca del recibo</h4>
              <div class="col-md-4">
                <label for="clienteRFC" class="form-label">Cliente RFC</label>
                <input id="clienteRFC" type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <label for="importeHonorario" class="form-label">Importe</label>
                <div class="input-group">
                  <input id="importeHonorario" type="text" class="form-control">
                  <span class="input-group-text">$</span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="fechaRecibo" class="form-label">Fecha</label>
                <input id="fechaRecibo" type="text" class="form-control">
              </div>
              <div class="col-md-12 mt-2">
                <label for="clienteNombre" class="form-label">Nombre Cliente</label>
                <input id="clienteNombre" type="text" class="form-control">
              </div>
              <div class="col-md-12 mt-2">
                <label for="concepto" class="form-label">Descripción</label>
                <input id="concepto" type="text" class="form-control">
              </div>
              <small class="form-text">Sección solo para visualización de información del recibo de honorarios sencillo</small>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>

  <footer th:insert="fragments/footer :: template-footer" class="bg-dark text-center mt-auto footer"></footer>

  <script type="text/javascript">
    $(function () {
      $('#date').datepicker({
        dateFormat: "yy-mm-dd"
      });
    });
  </script>


  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>

</html>