<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SACC | Registrar Pago</title>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <!--CDN DATEPICKER-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">
  <header th:insert="fragments/menu :: menu-principal" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  </header>

  <div class="jumbotron">
    <div class="container">
      <h3>Registrar Pago</h3>
      <p>Formulario para registrar el pago de honorarios de <strong>Corporativo Fiscal Magno</strong></p>
    </div>
  </div>
  <div class="container">
    <!--mensajes-->
    <div>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${clientes.empty}">
        ¡Ups! ha ocurrido un error para obtener el nombre de los clientes, vuelva a intentarlo más tarde.
      </div>
      <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${success}">
        <strong th:text="${success}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
        <strong th:text="${error}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <main>
      <div class="container" style="max-width: 1100px;">
        <form th:object="${pago}" th:action="@{/operaciones/guardar}" th:method="post">
          <div class="row">
            <div class="col-md-12">
              <!--section informacion cliente-->
              <section class="border p-3">
                <div class="row">
                  <h4>Acerca del cliente</h4>
                  <div class="col-md-3">
                    <label for="clienteRFC" class="form-label">Cliente RFC <strong class="obligatorio">*</strong></label>
                    <input type="text" id="inputClienteRFC" class="form-control" th:field="*{clienteRFC}" data-bs-toggle="modal" 
                      data-bs-target="#clientesModal" required>
                  </div>
                  <div class="col-md-5">
                    <label for="nombre" class="form-label">Nombre Cliente</label>
                    <input id="nombre" type="text" class="form-control" placeholder="nombre cliente" disabled style="background: #eceff1;">
                    <small class="text-form text-muted">Campo solo para visualización del nombre del cliente</small>
                  </div>
                </div>
              </section>
              <hr>
              <!--section informacion pago-->
              <section class="border p-3">
                <div class="row">
                  <h4>Acerca del pago</h4>
                  <div class="col-md-3">
                    <label for="inputPeriodo" class="form-label">Periodo ID <strong class="obligatorio">*</strong></label>
                    <input id="inputPeriodo" type="text" class="form-control" th:field="*{periodoId}" />
                  </div>
                  <div class="col-md-3">
                    <label for="selectConceptosPago" class="form-label">Concepto de pago <strong
                        class="obligatorio">*</strong></label>
                    <select id="selectConceptosPago" class="form-select" th:field="*{conceptoPagoId}"
                      th:required="true">
                      <option value="">-Seleccionar-</option>
                      <option th:each="conceptoPago: ${listaConceptosPago}" th:text="${conceptoPago.nombre}"
                        th:value="${conceptoPago.id}"></option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="selectTarifas" class="form-label">Tarifa <strong class="obligatorio">*</strong></label>
                    <select id="selectTarifas" class="form-select" th:field="*{tarifaId}" th:required="true">
                      <option value="">-Seleccionar-</option>
                      <option th:each="tarifa : ${listaTarifas}" th:text="${tarifa.nombre}" th:value="${tarifa.id}">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-md-3">
                    <label for="selectMetodosPago" class="form-label">Metodo de pago <strong
                        class="obligatorio">*</strong></label>
                    <select id="selectMetodosPago" class="form-select" th:field="*{metodoPagoId}" th:required="true">
                      <option value="">-Seleccionar-</option>
                      <option th:each="metodoPago : ${listaMetodosPago}" th:text="${metodoPago.nombre}"
                        th:value="${metodoPago.id}"></option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="selectFomasPago" class="form-label">Forma de pago <strong
                        class="obligatorio">*</strong></label>
                    <select id="selectFomasPago" class="form-select" th:field="*{formaPagoId}" th:required="true">
                      <option value="">-Seleccionar-</option>
                      <option th:each="formaPago : ${listaFormaPago}" th:text="${formaPago.nombre}"
                        th:value="${formaPago.id}"></option>
                    </select>
                  </div>
                  <div class="col-md-3" id="divFolioCheque">
                    <label for="" class="form-label">Folio cheque</label>
                    <input id="inputFolioCheque" type="text" class="form-control" th:field="*{folioCheque}" autocomplete="off">
                  </div>
                  <div class="col-md-3" id="divListBancos">
                    <label for="selectBancos" class="form-label">Banco Emisor <strong
                        class="obligatorio">*</strong></label>
                    <select id="selectBancos" class="form-select" th:field="*{bancoEmisorId}">
                      <option value="">-Seleccionar-</option>
                      <option th:each="bancoEmisor : ${listaBancos}" th:text="${bancoEmisor.nombre}"
                        th:value="${bancoEmisor.id}">
                      </option>
                    </select>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row">
                  <div class="col-md-3">
                    <label for="selectTipoHonorarios" class="form-label">Tipo Honorario <strong
                        class="obligatorio">*</strong></label>
                    <select id="selectTipoHonorarios" class="form-select" th:field="*{tipoHonorarioId}"
                      th:required="true">
                      <option value="">-Seleccionar-</option>
                      <option th:each="tipoHonorario : ${listaTiposHonorario}" th:text="${tipoHonorario.nombre}"
                        th:value="${tipoHonorario.id}"></option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="inputFolioComprobante" class="form-label">Folio comprobante</label>
                    <input type="text" id="inputFolioComprobante" class="form-control" th:field="*{folioComprobante}"
                      autocomplete="off" placeholder="Folio recibo / Folio Factura">
                  </div>
                  <div class="col-md-6" id="divReciboHonorariosButtons" style="display: none;">
                    <label class="form-label">Recibo de Honorarios</label>
                    <div class="d-grid gap-2 d-md-block">
                      <input type="submit" class="btn btn-outline-success px-2" value="Generar recibo" name="add" />
                      <input type="submit" class="btn btn-outline-primary" value="Vista previa" name="view" />
                    </div>
                    <small class="form-text">Opciones para generar el recibo en formato PDF</small>
                  </div>
                </div>
              </section>
        
              <div class="d-grid gap-2 d-md-block mt-3">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                <input type="submit" class="btn btn-warning" value="Cancelar" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>

  <!-- Modal Periodos -->
  <div class="modal fade" id="modalPeriodos" tabindex="-1" aria-labelledby="periodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #eceff1;">
        <div class="modal-header">
          <h4 class="modal-title" id="periodoModalLabel">Periodos de Pago</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--CONTENEDOR-->
        <div class="modal-body" id="items_periodos">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Clientes -->
  <div class="modal fade" id="clientesModal" tabindex="-1" aria-labelledby="clientesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #eceff1;">
        <div class="modal-header">
          <h4 class="modal-title" id="clientesModalLabel">Lista Clientes</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--CONTENEDOR-->
        <div class="modal-body" id="items_clientes">
          <!--DIV PARA MOSTRAR LOS DATOS DE LOS CLIENTES-->
          <div class="border border-secondary rounded-2 my-2 card-body bg-light" th:each="clienteTemp : ${clientes}"
            th:id="${clienteTemp.rfc}">
            <h5 th:if="${clienteTemp.regimenFiscal.id != 601}" class="card-title">[[${clienteTemp.apPaternoCliente}+' '+${clienteTemp.apMaternoCliente}+' '+${clienteTemp.nombreCliente}]]</h5>
            <h5 th:unless="${clienteTemp.regimenFiscal.id != 601}" class="card-title">[[${clienteTemp.razonSocial}]]
            </h5>
            <p class="card-text" th:text="${clienteTemp.rfc}">cliente_rfc</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <footer th:insert="fragments/footer :: template-footer" class="bg-dark text-center mt-auto footer"></footer>

  <script th:src="@{/js/modal_actions.js}"></script>
  <script th:src="@{/js/disable_inputs.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>

</html>